<a href='https://www.youtube.com/playlist?list=PLMDrOnfT8EAgCPrFfF8OgMQOTtMUk78AJ'><img src='../course_img.png'/></a>

# Tuples with Python

### 1- Creating or Constructing Tuples

In [1]:
# empty tuple
my_tuple = ()
my_tuple

()

In [2]:
type (my_tuple)

tuple

In [3]:
my_tuple1 = (1,8,78)
my_tuple1

(1, 8, 78)

In [4]:
my_tuple2 = ('Asem' , 15.5, 878 , [45,87,"Ahmed"])

In [5]:
my_tuple2

('Asem', 15.5, 878, [45, 87, 'Ahmed'])

In [6]:
# Example
my_tuple3 = ('Asem')

In [7]:
type (my_tuple3)

str

In [8]:
my_tuple4 = ('Asem',)

In [9]:
type (my_tuple4)

tuple

In [10]:
my_tuple2 = 'Asem' , 15.5, 878 , [45,87,"Ahmed"]

In [11]:
type(my_tuple2)

tuple

### 2- Accessing, Indexing and Slicing Elements in Tuples

In [12]:
my_tuple1 = ('Asem' , 15.5, 878 , [45,87,"Ahmed"])

In [13]:
my_tuple1[3][2]

'Ahmed'

In [14]:
my_tuple1[1:]

(15.5, 878, [45, 87, 'Ahmed'])

In [15]:
my_tuple1[:3]

('Asem', 15.5, 878)

### 3- Basic Tuple Methods

In [16]:
my_tuple1 = ('Asem' , 15.5, 878 , 15.5 , 'Asem', 'Asem' ,[45,87,"Ahmed","Asem"])

In [17]:
my_tuple1.index ('Asem')

0

In [18]:
my_tuple1.index (878)

2

In [19]:
my_tuple1.count ('Asem')

3

### 4- Nesting Tuples

In [20]:
my_tuple1 = ('Asem' , 15.5, 878 , 15.5 , 'Asem', 'Asem' ,(45,87,"Ahmed","Asem"))

In [21]:
my_tuple1 [6][2]

'Ahmed'

### 5- Immutability

In [22]:
my_tuple1 = (1,8,78)
my_tuple2 = [1,8,78]

In [23]:
# wil give you error because it's immutable
#my_tuple1[1] = 140

In [24]:
my_tuple2[1] = 140

In [25]:
my_tuple2

[1, 140, 78]

In [26]:
# Reassignment
my_tuple1 = (1,8,78)

In [27]:
my_tuple1

(1, 8, 78)

In [28]:
my_tuple1 = (48,78,5687,487,87)

In [29]:
my_tuple1

(48, 78, 5687, 487, 87)

In [30]:
my_tuple3 = ('Asem' , 15.5, 878 , 15.5 , 'Asem', 'Asem' ,[45,87,"Ahmed","Asem"])

In [31]:
my_tuple3 [6][3]

'Asem'

In [32]:
my_tuple3 [6][3] = "Omar"

In [33]:
my_tuple3

('Asem', 15.5, 878, 15.5, 'Asem', 'Asem', [45, 87, 'Ahmed', 'Omar'])

In [34]:
# will give you error
#my_tuple3 [6] = [45,78]

### 6- When to Use Tuples

In [35]:
# Week days will never change

In [36]:
my_dict = {'first_name':'Asem', 'last_name':'Saafan'}

In [37]:
my_dict.items()

dict_items([('first_name', 'Asem'), ('last_name', 'Saafan')])