<a href='https://www.youtube.com/playlist?list=PLMDrOnfT8EAgCPrFfF8OgMQOTtMUk78AJ'><img src='../course_img.png'/></a>

# Introduction to Functions

#### 1- Basic building block of function

In [1]:
# def keyword
# name of function
# () => parameters or arguments
def name_of_function (arg1,arg2):
    #docstring to tell what the function do and how?
    '''
    docstring : basic example of functions
    '''
    # code you want to excute 
    pass

In [2]:
def print_hello ():
    print ('Hello Asem')

In [3]:
print_hello

In [4]:
print_hello ()

Hello Asem

In [5]:
def print_hello_name (name):
    print (f'Hello {name}')

In [6]:
# print_hello_name()

In [7]:
print_hello_name ('Omar')

Hello Omar

In [8]:
def print_hello_name1 (name = 'Ahmed'):
    print (f'Hello {name}')

In [9]:
print_hello_name1 ()

Hello Ahmed

In [10]:
print_hello_name1('Asem')

Hello Asem

#### 2- Using return keyword

In [11]:
def sum_two_numbers1 (num1 , num2):
    print (num1 + num2)

In [12]:
sum_two_numbers1(2,8)

10

In [13]:
def sum_two_numbers2 (num1 , num2):
    return num1 + num2

In [14]:
sum_two_numbers2 (2,8)

10

In [15]:
result = sum_two_numbers1(5,8)

13

In [16]:
result

In [17]:
type (result)

NoneType

In [18]:
result1 = sum_two_numbers2 (2,9)

In [19]:
result1

11

In [20]:
type (result1)

int

In [21]:
def sum_two_numbers2 (num1 , num2):
    print (num1 + num2)
    return num1 + num2

In [22]:
sum_two_numbers2 (5,8)

13

13

In [23]:
# use only one return for path

In [24]:
def sum_two_numbers3 (num1 , num2):
    print (num1 + num2)
    return num1 + num2

In [25]:
sum_two_numbers3 ('Ah' , 'Med')

AhMed

'AhMed'