<a href='https://www.youtube.com/playlist?list=PLMDrOnfT8EAgCPrFfF8OgMQOTtMUk78AJ'><img src='../course_img.png'/></a>

# args and kwargs in Python

### args

In [5]:
# a function take my revenue / income streams are inputs 
# and return the tax for them  
def income_tax (a,b,c=0):
    # tax rate 14%
    return round (sum ((a,b,c)) * 0.14)

In [4]:
income_tax (500,1000) #1500 * 0.14 = 210

210

In [6]:
income_tax (500,1000,500) #2000 * 0.14 = 210

280

In [16]:
def income_tax1 (*args):
    # tax rate 14%
    return round (sum (args) * 0.14)

In [13]:
income_tax1 (2500)

350

In [14]:
income_tax1 (2500,150)

371

In [15]:
income_tax1 (2500,150,54,8584,548,54)

1665

### kwargs

In [22]:
def any_func (**kwargs):
    print (kwargs)
    print (kwargs['name'])

In [23]:
any_func (name = 'Asem', age = 25, location = 'Egypt' )

{'name': 'Asem', 'age': 25, 'location': 'Egypt'}
Asem

In [25]:
# any_func (age = 25, location = 'Egypt' ) # Error no name keyword

### Both args and kwargs together

In [26]:
def myfunc (*args , **kwargs):
    print (args)
    print (kwargs)

In [27]:
myfunc (2,5,8)

(2, 5, 8)
{}

In [28]:
myfunc (name = 'Asem')

()
{'name': 'Asem'}

In [29]:
myfunc (2,5,8, name = 'Asem')

(2, 5, 8)
{'name': 'Asem'}

In [31]:
# myfunc ( name = 'Asem',2,5,8)  #Error => positional argument follows keyword argument

In [33]:
# myfunc (2,5,8, name = 'Asem',4)