<a href='https://www.youtube.com/playlist?list=PLMDrOnfT8EAgCPrFfF8OgMQOTtMUk78AJ'><img src='../course_img.png'/></a>

# Useful Operators in Python

### range( )

In [1]:
range (10)

range(0, 10)

In [2]:
list (range (10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for num in range(10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [5]:
list (range (16))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [6]:
list (range (2,16))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [8]:
list (range (2,16,3))

[2, 5, 8, 11, 14]

In [9]:
list (range (0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [10]:
for num in range (0,101,10):
    print (num)

0
10
20
30
40
50
60
70
80
90
100

### enumerate( )

In [12]:
name = 'Asem Saafan'
index = 0
for char in name :
    print (f'the index is: {index} and current character is: {char}')
    index += 1

the index is: 0 and current character is: A
the index is: 1 and current character is: s
the index is: 2 and current character is: e
the index is: 3 and current character is: m
the index is: 4 and current character is:
the index is: 5 and current character is: S
the index is: 6 and current character is: a
the index is: 7 and current character is: a
the index is: 8 and current character is: f
the index is: 9 and current character is: a
the index is: 10 and current character is: n

In [15]:
enumerate(name)

In [16]:
list (enumerate(name))

[(0, 'A'),
 (1, 's'),
 (2, 'e'),
 (3, 'm'),
 (4, ' '),
 (5, 'S'),
 (6, 'a'),
 (7, 'a'),
 (8, 'f'),
 (9, 'a'),
 (10, 'n')]

In [17]:
for (i , char) in enumerate(name):
    print (f'the index is: {i} and current character is: {char}')

the index is: 0 and current character is: A
the index is: 1 and current character is: s
the index is: 2 and current character is: e
the index is: 3 and current character is: m
the index is: 4 and current character is:
the index is: 5 and current character is: S
the index is: 6 and current character is: a
the index is: 7 and current character is: a
the index is: 8 and current character is: f
the index is: 9 and current character is: a
the index is: 10 and current character is: n

### zip( )

In [21]:
first_names = ['Asem' , 'Ahmed' , 'Ibrahim', 'Omar', 'Islam']
last_names = ['Saafan' , 'Mohamed', 'Khaled', 'Abd-elnaser']

In [19]:
zip ( first_names,last_names )

In [22]:
list ( zip ( first_names,last_names ) )

[('Asem', 'Saafan'),
 ('Ahmed', 'Mohamed'),
 ('Ibrahim', 'Khaled'),
 ('Omar', 'Abd-elnaser')]

In [23]:
for first_name, last_name in zip ( first_names,last_names ):
    print (f'the fullname is: {first_name} {last_name}')

the fullname is: Asem Saafan
the fullname is: Ahmed Mohamed
the fullname is: Ibrahim Khaled
the fullname is: Omar Abd-elnaser

### in operator

In [24]:
first_names = ['Asem' , 'Ahmed' , 'Ibrahim', 'Omar', 'Islam']

In [25]:
'Asem' in first_names

True

In [26]:
'Asedm' in first_names

False

In [27]:
'A' in 'A hemehufsd'

True

In [28]:
'a' in 'A hemehufsd'

False

### not in operator

In [29]:
first_names = ['Asem' , 'Ahmed' , 'Ibrahim', 'Omar', 'Islam']

In [30]:
'a' not in 'A hemehufsd'

True

### min and max methods

In [33]:
numbers = [5,78,84,12,38,87,1,125,8884,5]

In [34]:
min (numbers)

1

In [35]:
max (numbers)

8884

### input()

In [36]:
input ('Enter your first name: ')

Enter your first name: Asem

'Asem'

In [37]:
first_name = input ('Enter your first name: ')

Enter your first name: Asem

In [38]:
first_name

'Asem'